/AmonPack/target/
AmonPack/generalbending_menu.png
AmonPack/src/main/resources/textures/gui/black.png
AmonPack/src/main/resources/textures/gui/blacksmith_ui.png
AmonPack/src/main/resources/textures/gui/rune_selection_ui.png
AmonPack/target/.DS_Store
AmonPack/.DS_Store
